* {
    margin: 0;
    font-family: "Aldrich", sans-serif;
}

header {
    top: 0;
    position: sticky;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #32e0c4;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background-color: #222831;
}

body::-webkit-scrollbar-thumb {
    background-color: #32e0c4;
}

nav a {
    text-decoration: none;
    color: #222831;
    font-weight: bold;
    font-size: 1.5em;
}

nav a:hover {
    color: #d9d9d9;
}

main {
    background-color: #222831;
    color: #32e0c4;
}

#Home {
    padding: 5vh 15vh 5vh 15vh;
}

.me {
    font-size: 5em;
}

.job {
    font-size: 2.5em;
}

.ltlinfo {
    padding-top: 5vh;
}

.row {
    display: flex;
    flex-direction: row;
}

.informations {
    padding-left: 5vw;
}

.meimg {
    width: 22%;
    height: 22%;
}

.homebutton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#Home a {
    background-color: #32e0c4;
    padding: 1vh;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    color: #222831;
}

#Home a:hover {
    color: #d9d9d9;
}

#Home p {
    color: #d9d9d9;
}

h2 {
    font-size: 2.5em;
}

.info_bold {
    color: #32e0c4;
    font-weight: bold;
}

.info_item {
    width: 30vh;
}

.info_line {
    padding-top: 3vh;
    display: flex;
    flex-flow: row wrap;
}

.message {
    padding-top: 3vh;
}

#Skills {
    padding: 3vh 15vh 3vh 15vh;
}

.category {
    padding-top: 3vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 3vh;
    width: 40vw;
    height: 25vh;
    color: #222831;
    background-color: #d9d9d9;
}

.card p {
    padding-top: 2vh;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.card-center {
    display: flex;
    justify-content: space-around;
}

.elmt {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.svg {
    padding-top: 4vh;
    width: 10vw;
    height: 10vh;
}

#Timeline {
    padding: 3vh 15vh 3vh 15vh;
}

.timelinecards {
    padding-top: 3vh;
}

.timelinecard {
    margin-bottom: 5vh;
    padding: 3vh;
    font-size: 1.5em;
    color: #222831;
    background-color: #d9d9d9;
}

.state {
    font-style: italic;
}

#Timeline p {
    padding-bottom: 2vh;
}

li {
    list-style: square;
}

.space {
    padding-bottom: 2vh;
}

#Portfolio {
    padding: 3vh 15vh 3vh 15vh;
}

.projets {
    padding-top: 5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.projet {
    margin-bottom: 5vh;
    width: 40vw;
}
.projet img {
    width: 100%;
}
.projet p {
    padding-top: 2vh;
}
.a-venir {
    padding-top: 20vh;
    background-color: #d9d9d9;
    height: 20vh;
    color: #222831;
    font-size: 1.5em;
    text-align: center;
}
#Contact {
    text-align: center;
    color: #222831;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linkedin {
    width: 10vh;
    height: 10vh;
}

.download {
    width: 8vh;
    height: 8vh;
}

.github {
    padding-left: 1vh;
    width: 7vh;
    height: 7vh;
}

#Contact p {
    padding: 1vh;
    font-size: 1.2em;
}

footer {
    background-color: #32e0c4;
}

footer a {
    text-decoration: none;
}

/* .mylink {
    background-color: #32e0c4;

    border-right: 50%;
}