* {
    margin: 0;
    font-family: "Aldrich", sans-serif;
}

header {
    top: 0;
    position: sticky;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #32e0c4;
}

nav a {
    text-decoration: none;
    color: #222831;
    font-weight: bold;
    font-size: 1.5em;
}

main {
    background-color: #222831;
    color: #32e0c4;
}

#Home {
    padding: 5vh 15vh 5vh 15vh;
}

.me {
    font-size: 5em;
}

.job {
    font-size: 2.5em;
}

.ltlinfo {
    padding-top: 5vh;
}

.meimg {
    width: 22%;
    height: 22%;
}

.homebutton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#Home a {
    background-color: #32e0c4;
    padding: 1vh;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    color: #222831;
}

h2 {
    font-size: 2.5em;
}

#About {
    padding: 3vh 15vh 3vh 15vh;
}

#About p {
    color: #d9d9d9;
}

.info_bold {
    color: #32e0c4;
    font-weight: bold;
}

.info_item {
    width: 30vh;
}

.info_line {
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
}

.message {
    padding-top: 3vh;
}

#Skills {
    padding: 3vh 15vh 3vh 15vh;
}

.category {
    padding-top: 3vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 3vh;
    width: 40vw;
    height: 25vh;
    color: #222831;
    background-color: #d9d9d9;
}

.card p {
    padding-top: 2vh;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.elmt {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.svg {
    padding-top: 4vh;
    width: 10vw;
    height: 10vh;
}

.uwu {
    background-color: #32e0c4;
    color: #32e0c4;
}

footer {
    background-color: #32e0c4;
    height: 30vh;
}
footer a {
    text-decoration: none;
}

/* .mylink {
    background-color: #32e0c4;

    border-right: 50%;
}