* {
    margin: 0;
    font-family: "Aldrich", sans-serif;
}
header {
    top: 0;
    position: sticky;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #32e0c4;
}

nav a {
    text-decoration: none;
    color: #222831;
    font-weight: bold;
    font-size: 1.5em;
}

main {
    background-color: #222831;
    color: #32e0c4;
}

#Home {
    padding: 5vh 15vh 5vh 15vh;
}
.me {
    font-size: 5em;
}
.job {
    font-size: 2.5em;
}
.ltlinfo {
    padding-top: 5vh;
}
.meimg {
    width: 22%;
    height: 22%;
}
.homebutton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#Home a {    
    background-color: #32e0c4;
    padding: 1vh;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    color: #222831;
}
/* footer img {
    width: 5%;
    height: 5%;
} */

/* .mylink {
    background-color: #32e0c4;

    border-right: 50%;
}